.feynman__link {
  text-decoration: none;
  color: #2f80ed;
  font-size: 36px;
  line-height: 51px;
  font-weight: 400;
  position: absolute;
  top: 50%;
  right: 48px;
  transition: opacity .7s ease;
}

.feynman__link:hover {
  opacity: 0.6;
}
